@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

:root {
  --gra-color: linear-gradient(#2c4565, #a33550);
  --index-tab-font-color: #2c4565;
  --point-color: #ff0000;
  --concept-color-1: #ff0000;
  --concept-color-2: #666;
  --concept-color-3: #fff;
  --concept-color-4: #000;
  --concept-font: "Nanum Gothic", "나눔 고딕", "나눔고딕", sans-serif;
}

/* 네브 현재 위치 */

header > ul > li:nth-child(1) > a {
  color: #ff0000;
}

/* 상단 현재 위치*/
#indexContent > div > ul > li:nth-child(2) > a {
  background-color: #fff;
  color: var(--index-tab-font-color);
}

#indexContent > div > ul > li:nth-child(1),
#indexContent > div > ul > li:nth-child(3) {
  opacity: 0.3;
}

#indexContent > div > ul > li:nth-child(1):hover,
#indexContent > div > ul > li:nth-child(3):hover {
  opacity: 1;
}

#pageInfo {
  height: 1000px;
}
