@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --gra-color: linear-gradient(#ff839a, #fce8bb);
  --index-tab-font-color: #ff839a;
  --point-color: #d6264e;
  --concept-color-1: #d6264e;
  --concept-color-2: #ffe8b5;
  --concept-color-3: #ff839a;
  --concept-color-4: #1f0082;
  --concept-font: "Noto Sans KR", sans-serif;
}

/* 네브 현재 위치 */

header > ul > li:nth-child(1) {
  color: #ff0000;
}

/* 상단 현재 위치*/
#indexContent > div > ul > li:nth-child(1) > a {
  background-color: #fff;
  color: var(--index-tab-font-color);
}

#indexContent > div > ul > li:nth-child(2),
#indexContent > div > ul > li:nth-child(3) {
  opacity: 0.3;
}

#indexContent > div > ul > li:nth-child(2):hover,
#indexContent > div > ul > li:nth-child(3):hover {
  opacity: 1;
}

/* 기획 */

#plan {
  height: 1800px;
}

#plan > div > ul > li > div {
  height: 200px;
}

#plan > div > ul > li:nth-child(1) > div {
  background: url(../img/ppaeyot/plan1.png) no-repeat top center;
}

#plan > div > ul > li:nth-child(3) > div {
  background: url(../img/ppaeyot/plan2.png) no-repeat top center;
}

#plan > div > ul > li:nth-child(5) > div {
  background: url(../img/ppaeyot/plan3.png) no-repeat top center;
}

.plan4 {
  width: 1000px;
  height: 350px;
  margin: 50px auto;
  background: url(../img/ppaeyot/plan4.png) no-repeat center center;
  background-size: 70%;
  position: relative;
  border-top: 3px dotted #ddd;
}

.plan5 {
  width: 1000px;
  height: 900px;
  margin: 50px auto;
  background: url(../img/ppaeyot/plan5.gif) no-repeat center center;
  background-size: 70%;
  position: relative;
  border-top: 3px dotted #ddd;
}

#plan > div > div > p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#pageInfo {
  height: 1000px;
}
